.artist-body {
    width:100%;
    height:100%;
    padding-top:55%;
    padding-left:5%;
    background: url('./../img/album.jpg');
    background-size:cover;
    background-position: center;
}

.artist-header-thin {
    font-size:3vw;
    font-family: 'Dosis', sans-serif;
    font-weight:100;
    color:white;
  }

  .artist-subheader {
    font-family: 'Dosis', sans-serif;
    font-weight:500;
    color:#d896ff;
    font-size:1vw;
  }

  @media (max-width:511px) {
    .artist-body {
      padding:0%;
      padding-right:15%;
      text-align:right;
    }
    .artist-header-thin {
      padding-top:22%;
      font-size:26px;
      font-family: 'Dosis', sans-serif;
      font-weight:100;
      color:white;
      padding-right:5%;
    }
  
    .artist-subheader {
      font-family: 'Dosis', sans-serif;
      font-weight:500;
      color:#d896ff;
      font-size:16px;
      padding-right:5%;
    }
  }