.app-wrap-container {
  min-height:800px;
  height: 100%;
}

.background-image-blur {
  position: absolute;
  z-index:-2;
  min-height:inherit;
  height:100%;
  width:100%;
  background: url('./img/blur.jpeg');
  background-size:cover;
  /* background-position: center; */
  filter:blur(5px);
  opacity:0.5;
  top:0;
  left:0;
}

.background-image-overlay {
  position: absolute;
  z-index:-3;
  height:100%;
  min-height:inherit;
  width:100%;
  background-color:rgba(255,255,255,0.2);
  background-size:cover;
  top:0;
  left:0;
}

.background-bars {
  position: absolute;
  z-index:-1;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.player-container {
  height:90%;
  padding-top:2.5%;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 40% 10%;
  -webkit-box-shadow: 0px 54px 184px -4px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 54px 184px -4px rgba(0,0,0,0.85);
  box-shadow: 0px 54px 184px -4px rgba(0,0,0,0.85);
}

.artist-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:2;
  overflow:hidden;
}

.album-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:3;
  overflow:hidden;
}

.song-list-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end:3;
}

.controls-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
}

/* Globals */
.accent-bar {
  background-color:#444;
  height:5px;
  width:50px;
  margin-top:10px;
}

.accent-bar-alt {
  background-color:#efbbff;
  height:5px;
  width:50px;
  margin-top:10px;
}